
h2 {
	border-width:5px;  
  border-style: double;
}

td:hover {
background-color : silver;
color: black;
}
 tr, th {
background-color : green;
color: white;
}
tr, td {
background-color : red ;
color: blue;
}
