
body {
    background-color: #fff8dc ;
         }
    
    label{
        font-size: medium;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 25px;
        margin: 25px 50px 75px;
        background-color: yellow;
        line-height: 1.6;
        border: 2px solid red;
        padding: 10px;
        border-radius: 25px;
         }
    input {
        font-size: large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 100%;
        height: 50px;
        margin: 25px 50px 25px;
        line-height: 1.6;;
        border: 2px solid red;
        padding: 10px;
        border-radius: 25px;
        background-position: center;
        background-color: lightblue;
         }
      
    h1 {
       color:red;
       font-size: large;
       font-family: Georgia, 'Times New Roman', Times, serif;
       }